* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    background-color: #d9ecd0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

/* ---NAVIGATION BAR--- */
nav {
    background: #f7aeb9;
    height: 80px;
    box-shadow: 3px 3px 3px #f7aeb9;
}

nav span a {
    font-family: 'Lobster', cursive;
    line-height: 80px;
    margin-left: 20px;

    font-size: xx-large;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover, nav a:active {
    color: #6e382e;
}

/* ---SEARCH BAR--- */
.search-container {
    background: #6e382e;
    height: 50px;
    clear: both;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.search-container p {
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    font-size: x-large;
}

/* ---FOOTER--- */
.push {
    height: 50px;
}

footer {
    height: 50px;
    line-height: 50px;

    background-color: #6e382e;
    color: #FFFFFF;
    text-align: center;
}

/* ---CONTENT--- */
.content-container {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.container {
    display: inline-block;
    position: relative;

    vertical-align: middle;
    /* box-sizing: border-box; */
    padding: 50px;
}

.login {
    width: 300px;
    margin: auto;

    border-radius: 50px;
    color: #6e382e;
    background-color: #fffde6;
    box-shadow: 0.2px 0.2px 3px #b8874f;
}

h1 {
    color: #6e382e;
    text-align: center;
    padding-top: 25px;

    text-decoration: underline;
    text-decoration-color: #b8874f;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

form {
    padding: 50px;
    text-align: left;
}

form input[type=text], form input[type=password] {
    margin: 5px 0;
    width: 85%;
    padding: 5px 10px;
    border: 1px solid #b8874f;
}

form input[type=text]:focus, form input[type=password]:focus {
    outline: none;
    border: 1px solid #f7aeb9;
}

form input[type=submit] {
    display: block;
    margin: 40px auto 0;
    width: 50%;
    padding: 10px 10px;

    border: 1px solid #6e382e;
    border-radius: 15px;
    background-color: #6e382e;
    color: #FFFFFF;
}

form input[type=submit]:hover, form input[type=submit]:focus {
    border: 1px solid #f7aeb9;
    color: #000000;
    background-color: #f7aeb9;
    cursor: pointer;
}

form span {
    display: block;
    color: red;
    text-align: right;
    margin-right: 10px;
    font-size: small;
}

form p {
    display: inline;
    margin-right: 10px;
}

form a {
    text-decoration: none;
    color: #b8874f;
}

form a:hover, form a:active {
    color: #f7aeb9;
    text-decoration: underline;
    text-decoration-color: #f7aeb9;

}

/* ---RESPONSIVE--- */
@media screen and (max-width: 600px) {
    .container {
        padding: 20px 0;
    }

    .img-container img {
        width: 100%;
    }

    .search-container p {
        font-family: 'Lobster', cursive;
        letter-spacing: 1px;
        font-size: large;
    }
}